<!DOCTYPE html>
<html>
<head>
    <title>
        Dashboard
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!-- Bootstrap -->
    <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/index.css"/>

</head>
<body>


<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">StackOverFlow Search</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/login">Sign In</a></li>
            </ul>
            <form id="search" class="navbar-form navbar-left">
                <input id="real-search" type="text" class="form-control"/>
                <button class="btn btn-info btn-md" type="button">
                    <i class="glyphicon glyphicon-search"></i>
                </button>
            </form>
        </div>
    </div>
</nav>

<div id="search-query" class="container">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <div id="custom-search-input">
                <div class="input-group col-md-12">
                    <input id="custom-search" type="text" class="form-control input-lg" placeholder="Search" />
                    <span class="input-group-btn">
                        <button class="btn btn-info btn-lg" type="submit">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="search-result-container" class="container" style="margin-left:50%">

    <hgroup class="mb20">
        <h1>Search Results</h1>
        <h2 class="lead"><strong id="result-count" class="text-danger">3</strong> results were found for <strong id="query" class="text-danger"></strong></h2>
    </hgroup>

    <section class="col-md-12">
        <article class="search-result row">
            <div class="col-md-7 excerpt">
                <h3><a href="#" title="">Does Spring MVC provide any Java API for constructing web links?</a></h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, exercitationem, suscipit, distinctio, qui sapiente aspernatur molestiae non corporis magni sit sequi iusto debitis delectus doloremque.</p>
                <div class="tags">
                    <a href="/questions/tagged/c%23" class="post-tag" title="show questions tagged &#39;c#&#39;" rel="tag">c#</a> <a href="/questions/tagged/overloading" class="post-tag" title="show questions tagged &#39;overloading&#39;" rel="tag">overloading</a>
                </div>
            </div>
            <span class="clearfix borda"></span>
        </article>

        <article class="search-result row">
            <div class="col-md-7 excerpt">
                <h3><a href="#" title="">Voluptatem, exercitationem, suscipit, distinctio</a></h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, exercitationem, suscipit, distinctio, qui sapiente aspernatur molestiae non corporis magni sit sequi iusto debitis delectus doloremque.</p>
            </div>
            <span class="clearfix borda"></span>
        </article>

        <article class="search-result row">
            <div class="col-md-7 excerpt">
                <h3><a href="#" title="">Voluptatem, exercitationem, suscipit, distinctio</a></h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, exercitationem, suscipit, distinctio, qui sapiente aspernatur molestiae non corporis magni sit sequi iusto debitis delectus doloremque.</p>
            </div>
            <span class="clearfix border"></span>
        </article>

    </section>
</div>


<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="/index.js"></script>
</body>
</html>
